@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  color: #070b60;
  font-family: "Rubik";
}
body {
  background-color: #143d8c;
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  src: local("Rubik"), url(./fonts/Rubik-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 600;
  src: local("Rubik"), url(./fonts/Rubik-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  font-weight: 300;
  src: local("Rubik"), url(./fonts/Rubik-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Rubik";
  src: local("Rubik"), url(./fonts/Rubik-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: medium;
}
